
.wrap, .wraper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    justify-content: space-between;
}

.post, .comment  {
    width: 19%;
    margin: 1px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background: gainsboro;
    padding: 2px;
    box-sizing: border-box;
}

.keyDiv, .comentKeyDiv {
    margin-bottom: 2px;
    color: black;
}

.comment {
    width: 31%;
    background: blanchedalmond;
}

